
    .beer__card {
        width: 20vw;

        
        display: flex;
        
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        border: 5px solid black;
        border-radius: 5px;

        .beer__card--image {

            max-width: 20vw;
            max-height: 30vh;
        
        }

        .beer__card--data{

            h1 {
                display: flex;
                flex-wrap: wrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }

        }
    }